docker.fixOwnership = true
docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}
process {
    withName: 'REFERENCE_INDEX' {
        container = 'community.wave.seqera.io/library/samtools:1.21--0d76da7c3cf7751c'
    }
    withName: 'MINIMAP2_ALIGN' {
        container = 'community.wave.seqera.io/library/minimap2:2.28--78db3d0b6e5cb797'
    }
    withName: 'SAMTOOLS_INDEX' {
        container = 'community.wave.seqera.io/library/bcftools_samtools:5b2576eb0d43ecd6'
    }
    withName: 'BCFTOOLS_VCF' {
        container = 'community.wave.seqera.io/library/bcftools_samtools:5b2576eb0d43ecd6'   
    }
}

/*
 * Pipeline parameters
 */
params{
    input_fastq = "${projectDir}/data/reads/test_2.fastq"
    reference_fa_path = "${projectDir}/data/reference/curlcake_constructs.fasta"
    ref_index = "${params.outdir}/curlcake_constructs.fasta.fai"
    input_sam = "${params.outdir}/test_2.sam"
    input_bam = "${params.outdir}/test_2.bam"
    input_sorted_bam = "${params.outdir}/test_2.sorted.bam"
    input_mpileup = "${params.outdir}/test_2.mpileup"
    outdir = "results_ukd"
    }